{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/estilos.css' %}">

</head>
<body>
    <div class="container">
       <img src="{% static 'images/Dashing_Lilaz_logo_Foto_Perfil.png' %}" width="150px"/>
        <nav>
        Página inicial  Previsão Recomendação Contato <a class="btn_destaque" title="vai para a pagina de login" href="login">Login</a>
        </nav>
    </div>

<main>
    <section class="dashing">

    </section>

</main>
<section>
    <h1>Inteligência Artificial para o Varejo</h1>

    <h3>O uso de Inteligência Artificial para mais rentabilidade e menos perdas.</h3>

</section>

<section>
    <h1>Previsão de Vendas</h1>
    <h3>A Dashing Analytics oferece uma<br> previsão de vendas precisa, permitindo<br> que você planeje suas estratégias de forma mais eficiente.</h3>
</section>

<section>

    <h1>Recomendações</h1>
    <h3>Com base nas informações coletadas,<br> a Dashing Analytics fornece recomendações<br> personalizadas para otimizar suas vendas.</h3>

</section>

<section>
    <div>
        <form>

        </form>
    </div>
    <div>
        <h1>Contato</h1>
    Endereço: Alameda Salvador, 1057 - Edifício Salvador Shopping Business - Torre América - Sala 911
    Salvador - Bahia - CEP. 41.820-790
    E-mail: contato@dashing.com.br

    </div>

</section>

<footer>
    <div>
    <img src="{% static 'images/Dashing_Lilaz_logo_Foto_Perfil.png' %}" width="150px"   />
    Página inicial  Previsão Recomendação Contato Login
    </div>
</footer>

</body>

</html>