
body{
    background-color: #ffffff;
    color: #55298b;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-family: "sams-serif";
}
nav {
    color: rgb(187, 187, 187);
    font-size: 14px;
    float: right;
    margin
}
.btn_destaque {
    background-color: (255, 77, 77);
    color: white;
    padding: 12px 40px;
    border-radius: 3px;
    margin-left: 25px
}